In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

# making own data

In [3]:
list1=[1,2,3,"harsh","ben",10]
print(list1)

[1, 2, 3, 'harsh', 'ben', 10]

# making sersies to list

In [4]:
series1=pd.Series(list1)
print(series1)

0        1
1        2
2        3
3    harsh
4      ben
5       10
dtype: object

In [5]:
series2=pd.Series([6,7,8,9,10,11])
print(series2)

0     6
1     7
2     8
3     9
4    10
5    11
dtype: int64

In [6]:
type(series1)

pandas.core.series.Series

# to create empty list

In [7]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\pramo\AppData\Local\Temp\ipykernel_14188\2823983443.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

# to change the index values

# modul.fuction(list,index=[values],dtype=any,name="any name")

In [8]:
series3=pd.Series(list1,index=["a","b","c","d","e","f"])
print(series3)

a        1
b        2
c        3
d    harsh
e      ben
f       10
dtype: object

In [9]:
series3=pd.Series(list1,index=["a","b","c","d","e","f"],name="table")
print(series3)

a        1
b        2
c        3
d    harsh
e      ben
f       10
Name: table, dtype: object

# series from scalar value

In [10]:
scalar1=pd.Series(0.1)
print(scalar1)

0    0.1
dtype: float64

# or

In [11]:
scalar1=pd.Series(0.1,index=["a","b",3])
print(scalar1)

a    0.1
b    0.1
3    0.1
dtype: float64

# or

In [12]:
scalar1=pd.Series({"A":1,"B":2,"C":3})
print(scalar1)

A    1
B    2
C    3
dtype: int64

# making own data

In [13]:
series3=pd.Series([1,2,3,4,5,6])
print(series3)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [14]:
series3[0]

1

# slice

In [15]:
series3[0:3]

0    1
1    2
2    3
dtype: int64

# max

In [16]:
max(series3)

6

In [17]:
#greater than

In [18]:
series3[series3>3]

3    4
4    5
5    6
dtype: int64

# add

In [19]:
series2+series3

0     7
1     9
2    11
3    13
4    15
5    17
dtype: int64