In [1]:
import pandas as pd

# making own data

In [2]:
list0=[[1,2,3],[4,5,6],[7,8,9]]

# creating pandas dataframe from list

In [3]:
list1=["a","b","c","d"]

In [4]:
df1=pd.DataFrame(list1)

In [5]:
df1

   0
0  a
1  b
2  c
3  d

# creating pandas dataframe from list of list

In [6]:
list2=[["a","b","c"],["e","f","g"],["x","y","z"]]

In [7]:
df2=pd.DataFrame(list2)

In [8]:
df2

   0  1  2
0  a  b  c
1  e  f  g
2  x  y  z

# creating pandas dataframe from dictionary

In [9]:
dic1={"name":["harsh",'atul',"ishu","kittu"]}

In [10]:
df3=pd.DataFrame(dic1)

In [11]:
df3

    name
0  harsh
1   atul
2   ishu
3  kittu

In [12]:
dic2={"name":["harsh",'atul',"ishu","kittu"],'pos':["a","b","c","d"]}

In [13]:
df4=pd.DataFrame(dic2)

In [14]:
df4

    name pos
0  harsh   a
1   atul   b
2   ishu   c
3  kittu   d

# creating pandas dataframe from list of dictionary

In [15]:
dic3=[{"harsh":175,'atul':180},{"harsh":60,'atul':75},{"harsh":'avg'}]

In [16]:
df5=pd.DataFrame(dic3)

In [17]:
df5

  harsh   atul
0   175  180.0
1    60   75.0
2   avg    NaN

# creating pandas dataframe from seriesb

In [18]:
df6=pd.DataFrame({"col1":pd.Series(list1)},{"col2":pd.Series(list)})

In [19]:
df6

     col1
col2  NaN

In [20]:
pd.Series(list0)

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object